.fix-First{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    width: 100% !important;
}
.fix-First-responsive-bars{
    color: #fff;
    cursor: pointer;
    display: none;
}

.fix-First-list{
    display: none;
    color: #fff;
}

.fix-First-mark{
    color: #fff;
    font-family: Gluten;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: -0.02em;
}
.fix-First-tabs{
    color: #fff;
    font-family: ITC Garamond Std;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    font-size: 24px;
    line-height: 120%;
}
.fix-First-wallet{
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: space-between;

}
.wallet-btn{
    width: 210px;
    height: 58px;
    border:1px solid #0EDD95;
    color: #0EDD95;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
}
@media screen and (max-width:1100px){
    // .fix-First{
    //     width: 100% !important;
    //     border: 1px solid red;
    // }
    .fix-First-responsive-bars{
        display: block !important;
    }
    .fix-First-tabs{
        display: none !important;
    }
    .fix-First-wallet{
        display: none !important;
    }
    
    .fix-First-list{
        display: none !important;
        // border: 1px solid red !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        ul{
            margin-bottom: 20px !important;
            transition: 5.5s ease;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100%;
            cursor: pointer;
            list-style-type: none !important;
            font-size: 20px !important;
            text-align: center !important;
            font-family: ITC Garamond Std;
            border-bottom: 2px solid rgb(101, 92, 103);
        }
    }
    .fix-First-list-tabs{
        margin: 0 !important;
        padding: 0 !important;
        width: 80% !important;
        // border: 1px solid red;
    }

    .list-wallet-btn{
        width: 210px;
        height: 58px;
        border:1px solid #0EDD95;
        color: #0EDD95;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 65px;
    }
    .test{
        display: flex !important;
    }
    .BarChange{
        content: url('../assets/img/Barx.png');
    }
    .MainBackChange{
        margin-top: 225px;
    }
    .BarListChange{
        background-color: #292927;
    }
}
@media screen and (max-width:600PX){
    .fix-First{
        // width: 70% !important;
        padding: 20px 80px 0 80px;
    }
}
@media screen and (max-width:500PX){
    .fix-First{
        padding: 20px 120px 0 120px;
    }
}